.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 0 20px;                
}

.logo {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
}

.logo img {
    height: 70px;
    margin-bottom: 5px;
}

.logo h2 {
    font-family: "Khmer OS Battambang", serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
}

.logo h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
}

.sub_text h3 {
    font-family: "Khmer OS Battambang", serif;
    font-size: 18px;
    text-align: right; 
    font-weight: 400;
    margin: 0;
}

.sub_text label {
    display: block;
    font-weight: 400;
}

.content-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 80px;             
    font-family: "Khmer OS Battambang", serif;
    margin-top: 30px;
}

.left-text, .center-text, .right-text {
    flex: 1;
}

.left-text {
    margin-top: 100px;
    text-align: left;
    padding-right: 50px;           
}

.center-text {
    text-align: center;
    line-height: 1.4;
    padding: 0 40px;               
}
.center-text label{

    color:blue
}
.right-text {
    margin-top: 100px;
    text-align: right;
    padding-left: 50px;             
}

.center-text h3 {
    font-size: 18px;
    margin: 0 0 3px 0;
    font-weight: bold;
}

.center-text p,
.left-text p,
.right-text p {
    margin: 2px 0;
    font-size: 14px;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

td {
  height: 150px;
}
.subject {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  gap: 4px;                
}

.subject span {
  font-weight: bold;
}

.subject label {
  display: block;
  font-size: 14px;
}
.blue{
    background-color: rgb(11, 81, 105);
}
.darkblue{
    background-color: rgb(31, 31, 49);
}

 body {
        font-family: "Khmer OS Battambang", "Khmer OS", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.7;
    }

    .signature-section {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .signature-row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 0px;
    }

    .signature-box {
        width: 33%;
    }

    .date {
        margin-bottom: 0px; 
    }